@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hbnzdz');
  src:  url('../fonts/icomoon.eot?hbnzdz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hbnzdz') format('truetype'),
    url('../fonts/icomoon.woff?hbnzdz') format('woff'),
    url('../fonts/icomoon.svg?hbnzdz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-clean-water:before {
  content: "\e903";
}
.icon-clean-water-2:before {
  content: "\e904";
}
.icon-daimond:before {
  content: "\e905";
}
.icon-diagram:before {
  content: "\e906";
}
.icon-document:before {
  content: "\e907";
}
.icon-drink-water:before {
  content: "\e908";
}
.icon-drinking-water:before {
  content: "\e909";
}
.icon-email:before {
  content: "\e90a";
}
.icon-envelope:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-pin:before {
  content: "\e90d";
}
.icon-quote-left:before {
  content: "\e90e";
}
.icon-recycle-water:before {
  content: "\e90f";
}
.icon-setting:before {
  content: "\e910";
}
.icon-tap-water:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e912";
}
.icon-users:before {
  content: "\e913";
}
